@import "./about.history.scss";

canvas {
    position: fixed;
    width: 40rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3px;
    max-width: $big-screen;
    z-index: 210;
}

canvas::after {
    content: '';
}

canvas.loading__on {
    display: block;
}

canvas.loading__off {
    display: none;
}

section.local-page.current-page {
    display: flex;
}

section.local-page {
    display: none;
}


.project__section.screen-max {
    position: fixed;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0;
    width: 100%;
    background-color: #102C57;
    min-height: 100vh;
    top: 0;
    z-index: 102;

}

.project__section-fullscreen-btn {
    position: fixed;
    right: 10%;
    top: 15%;
    color: rgba(255, 255, 255, .5);
    background-color: rgba(0, 0, 0, 0.4);
    border: none;
    padding: .5rem;
    border-radius: 5px;
    transition: all 2s ease;
    z-index: 200;
    
    i {
        font-size: 2.5rem;
    }
}

.project__section-fullscreen-btn:hover {
    background-color: rgba(0, 0, 0, 0.6);
    color: rgba(255, 255, 255, .7);
}

.loading-cover {
    position: fixed;
    top: 0;
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: #151515;
    z-index: -200;
    opacity: 0;
    transition: opacity .4s ease-in-out;
}

.loading-cover.visible {
    display: block;
    opacity:  .7;
    z-index: 200;
}


.project__section .next-button {

    button {
        border: none;
        background: none;
        transition: background-color .5s cubic-bezier(0.075, 0.82, 0.165, 1);
        height: 5rem;
        padding: 1rem;
        border-radius: 5px;
    }

    button > i {
        display: block;
        transform: rotate(90deg);
        transition: transform .2s ease;
        color: #FFF455;
    }

    button:hover {
        background-color: #151515;
    }

    button:hover > i {
        transform: rotate(90deg) translateX(10px);
    }

    button > span {
        display: block;
        color: white;
        line-height: 2;
    }
}

.project__section .button-padding {
    padding:  7rem;
}

.project__section .prev-button {
    button {
        border: none;
        background: none;
        transition: background-color .5s cubic-bezier(0.075, 0.82, 0.165, 1);
        height: 5rem;
        padding: 1rem;
        border-radius: 5px;
    }

    button > i {
        display: block;
        transform: rotate(90deg);
        transition: transform .2s ease;
        color: #FFF455;
    }

    button:hover {
        background-color: #151515;
    }

    button:hover > i {
        transform: rotate(90deg) translateX(-10px);
    }

    button > span {
        display: block;
        color: white;
    }          
}

.project__section {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    padding: 1.5rem 0 5rem 0;

   


    .about__intro {
        flex-direction: column;
        align-items: center;


        h1 {
            font-size: 2.7rem;
            line-height: 2;
        }
        

        .card {
            width: 60%;
            background-color: var(--profile-background);
            padding: 3rem;
            border-radius: 5px;
            box-shadow: 14px 14px 60px -10px rgba(0, 0, 0, 0.3019607843);

            .card__intro {

                .card__sentence {
                    display: inline;
                    line-height: 1.8;
                }

                .card__profile {
                    display: inline;
                    float: right;
                    margin-left: 2rem;
                    margin-bottom: 2rem;
                    height: fit-content;

                    img {
                        width: 15rem;
                        border-radius: 5px;
                        box-shadow: 7px 7px 60px -10px rgba(0, 0, 0, 0.7);
                    }
                }
                
            }
        }

        .about__back-to-last {
            padding: 7rem;
        }
    }
}


@media (max-width: $medium-screen) {

    canvas {
        position: fixed;
        width: 80%;
        border-radius: 3px;
        max-width: $big-screen;
    }

    .project__section {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        padding: 1.5rem 0 5rem 0;

        .about__intro {
            h1 {
                font-size: 2rem;
            }
    
            .card {
                width: 75%;
                
            }

            .card > .card__intro > .card__sentence {
                font-size: .75rem;
            }
        }
    }  
}