[data-theme='dark'] {
    --color-bg: #191919;
    --color-bg-darker: #0C0C0C;
    --color-bg-offset: #252526;
    --color-text: #ffffff;
    --color-text-offset: #818a91;
    --color-border: #2d2d2d;
    --color-primary: #E3651D;
    --color-primary-offset: #b14a0e;
    --color-secondary: #BED754;
}

[data-font='normal'] {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-style: normal;
}