.footer {
    flex: none;
    flex-wrap: nowrap;
    font-size: .875rem;
    padding: 2rem 0;
    border-top: 1px solid var(--color-bg-offset);
}

.footer__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.footer__item {
    display: block;
    flex-basis: 50%;
    margin-bottom: 1.5rem;
}

.footer__item strong {
    display: block;
}

.footer a {
    color: var(--text-color);
    text-decoration: underline;
}

.footer a:hover {
    color: var(--text-color);
    text-decoration-color: var(--color-bg-offset);
}

@media (min-width: 940px) {
    .footer__item {
        padding-right: 4rem;
    }
}

@media (min-width: $small-screen) {
    .footer__inner {
        flex-wrap: nowrap;
    }

    .footer__item {
        flex: 0 0 auto;
        padding-right: 2.5rem;
        margin: 0;
    }
}